<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar') %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">
              Explore a Vast Collection of Lego Items that suits your kids
              taste!
            </p>
            <a href="lego/sets" class="btn btn-primary"
              >Click to View Collection</a
            >
          </div>
        </div>
      </div>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/010423-1.jpg"
              alt="Icons Set"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">The Majestic Horse</h2>
            <p>
              Given to select members of the Recognised Lego Fan Media group for
              an April fools prank in 2023, only around 10 are known to exist.
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/010423-1" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/021-1.jpg"
              alt="Basic Set"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Wheel Set</h2>
            <p>
              This set was released in America (USA/CAN) by Samsonite in 1966.
              It was never released in Europe.
            </p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/021-1" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/0011-3.jpg"
              alt="Lion Knights"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Castle 2 for 1 Bonus Offer</h2>
            <p>There are 2 unique sets in this inventory.</p>
            <div class="card-actions justify-end">
              <a href="/lego/sets/0011-3" class="btn btn-primary">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
